@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin size($data){
  width:$data;
  height:$data;
}
$color-orange: orange;

.container{
  @include center;
  @include size(200px);
  background-color:$color-orange;
  .item{
    @include center;
    @include size(100px);
    background-color:yellow;
  }
}